<p-card class="full-height" header="Vermögen - Bewegungen">
    <p-dataView [value]="bewegungen"
                [paginator]="true"
                [rows]="15"
                [sortField]="sortField"
                [sortOrder]="sortOrder">
                paginatorPosition="bottom">
        <p-header>
            <div class="p-grid">
                <div class="p-col-12">
                    <p-dropdown [options]="sortOptions" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'250px'}"></p-dropdown>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-1 text-center">Erstellung</div>
                <div class="p-col-2 text-left">Art</div>
                <div class="p-col-1">Status</div>
                <div class="p-col-1 text-center">Buchung</div>
                <div class="p-col-1 text-right">Betrag</div>
                <div class="p-col-6"></div>
            </div>
        </p-header>
        <ng-template let-bewegung pTemplate="listItem">

                <div class="p-col-1 text-center">{{bewegung.datumerstellung | date:'dd.MM.yyyy'}}</div>
                <div class="p-col-2 text-left">{{bewegung.art}}</div>
                <div class="p-col-1">{{bewegung.stat}}</div>
                <div class="p-col-1 text-center">{{bewegung.datumbuchung | date:'dd.MM.yyyy'}}</div>
                <div class="p-col-1 text-right">{{bewegung.betrag | currency:'EUR' }}</div>
                <div class="p-col-6 text-left">
                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search" style="font-size: .7em"></button>
                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-pencil" style="font-size: .7em"></button>
                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-minus" style="font-size: .7em"></button>
                </div>
        </ng-template>
    </p-dataView>
</p-card>
