<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-epp-heading" jhiTranslate="eppsysApp.person.home.createOrEditLabel">Create or edit a Person</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.person.nachname" for="field_nachname">Nachname</label>
                    <input type="text" class="form-control" name="nachname" id="field_nachname"
                           formControlName="nachname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.person.vorname" for="field_vorname">Vorname</label>
                    <input type="text" class="form-control" name="vorname" id="field_vorname"
                           formControlName="vorname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.person.geburtsname" for="field_geburtsname">Geburtsname</label>
                    <input type="text" class="form-control" name="geburtsname" id="field_geburtsname"
                           formControlName="geburtsname"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.person.geburtsort" for="field_geburtsort">Geburtsort</label>
                    <input type="text" class="form-control" name="geburtsort" id="field_geburtsort"
                           formControlName="geburtsort"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
