<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vertrag-person-epp-heading" jhiTranslate="eppsysApp.vertragPerson.home.createOrEditLabel">Create or edit a Vertrag Person</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.vertragPerson.art" for="field_art">Art</label>
                    <select class="form-control" name="art" formControlName="art" id="field_art">
                        <option value="INHABER">{{ 'eppsysApp.VertragPersonArtTyp.INHABER' | translate }}</option>
                        <option value="EHEGATTE">{{ 'eppsysApp.VertragPersonArtTyp.EHEGATTE' | translate }}</option>
                        <option value="KIND">{{ 'eppsysApp.VertragPersonArtTyp.KIND' | translate }}</option>
                        <option value="ERBE">{{ 'eppsysApp.VertragPersonArtTyp.ERBE' | translate }}</option>
                        <option value="ANBIETER">{{ 'eppsysApp.VertragPersonArtTyp.ANBIETER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.vertragPerson.vertrag" for="field_vertrag">Vertrag</label>
                    <select class="form-control" id="field_vertrag" name="vertrag" formControlName="vertragId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vertragOption.id" *ngFor="let vertragOption of vertrags; trackBy: trackById">{{ vertragOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eppsysApp.vertragPerson.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
