<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vertrag">
            <h2><span jhiTranslate="eppsysApp.vertrag.detail.title">Vertrag</span> {{ vertrag.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eppsysApp.vertrag.art">Art</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'eppsysApp.VertragArtTyp.' + vertrag.art }}">{{ vertrag.art }}</span>
                </dd>
                <dt><span jhiTranslate="eppsysApp.vertrag.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'eppsysApp.VertragStatusTyp.' + vertrag.status }}">{{ vertrag.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vertrag-epp', vertrag.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
