<p-card header="Antrag auf Altersvorsorgezulage 2019">
    <p-fieldset legend="A Art der Zulageberechtigung">
        Content<br>
        Content<br>
        Content<br>
        Content<br>
    </p-fieldset>
    <p-fieldset legend="B Antragsteller/in">
        Content
    </p-fieldset>
    <p-fieldset legend="C Ehegatte/in oder Lebenspartner/in">
        Content
    </p-fieldset>
    <p-fieldset legend="D Personenkreis">
        Content
    </p-fieldset>
    <p-fieldset legend="E Einnahmen">
        Content<br>
        Content<br>
        Content<br>
        Content<br>
    </p-fieldset>
    <p-fieldset legend="F Kinderzulage">
        Content<br>
        Content<br>
        Content<br>
        Content<br>
    </p-fieldset>
    <p-fieldset legend="G Vollmacht">
        Content<br>
        Content<br>
        Content<br>
        Content<br>
    </p-fieldset>
</p-card>
