<p-card header="Allgemein - Berechnung">
    <p-tabView>
        <p-tabPanel header="Vertrag Gesamt">
            <epp-vertrag-berechnung-part>
            </epp-vertrag-berechnung-part>
        </p-tabPanel>
        <p-tabPanel header="Vertrag Intern">
            <epp-vertrag-berechnung-part>
            </epp-vertrag-berechnung-part>
        </p-tabPanel>
        <p-tabPanel header="Vertrag Kapitalübertrag">
            <epp-vertrag-berechnung-part>
            </epp-vertrag-berechnung-part>
        </p-tabPanel>
    </p-tabView>
</p-card>
