<p-card class="full-height" header="Vermögen - Übersicht">
    <div class="p-grid">
        <div class="p-col-12 p-md-4">
            <p-fieldset legend="Vermögen gesamt">
                <div class="p-grid">
                    <div class="p-col-8">Beitrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Zulage</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Ertrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-12"><hr></div>
                    <div class="p-col-8">Summe</div>
                    <div class="p-col-4 text-right">0,00</div>
                </div>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-4">
            <p-fieldset legend="Vermögen gefördert">
                <div class="p-grid">
                    <div class="p-col-8">Beitrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Zulage</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Ertrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-12"><hr></div>
                    <div class="p-col-8">Summe</div>
                    <div class="p-col-4 text-right">0,00</div>
                </div>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-4">
            <p-fieldset legend="Vermögen ungefördert">
                <div class="p-grid">
                    <div class="p-col-8">Beitrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-12">&nbsp;</div>
                    <div class="p-col-8">Ertrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-12"><hr></div>
                    <div class="p-col-8">Summe</div>
                    <div class="p-col-4 text-right">0,00</div>
                </div>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-4">
            <p-fieldset legend="Garantie">
                <div class="p-grid">
                    <div class="p-col-8">Beitrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Zulage</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Kapitalübertrag</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-8">Versorgungsausgleich</div>
                    <div class="p-col-4 text-right">0,00</div>
                    <div class="p-col-12"><hr></div>
                    <div class="p-col-8">Summe</div>
                    <div class="p-col-4 text-right">0,00</div>
                </div>
            </p-fieldset>
        </div>
    </div>
</p-card>
