<p-card class="full-height" header="Vermögen - Übersicht">
    <div class="p-grid">
        <div class="p-col-12 p-md-6">
            <p-fieldset legend="Test">
                Content<br>
                Content<br>
                Content<br>
                Content<br>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-6">
            <p-fieldset legend="Test">
                Content<br>
                Content<br>
                Content<br>
                Content<br>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-6">
            <p-fieldset legend="Test">
                Content<br>
                Content<br>
                Content<br>
                Content<br>
            </p-fieldset>
        </div>
        <div class="p-col-12 p-md-6">
            <p-fieldset legend="Test">
                Content<br>
                Content<br>
                Content<br>
                Content<br>
            </p-fieldset>
        </div>
    </div>
</p-card>
