<div class="p-grid">
    <div class="p-col-12">
        <p-card class="text-center" style="height: 2em;">
            <br>
            <h3>Herzlich Willkommen, {{ firstName }} {{ lastName }} !</h3>
            <br>
        </p-card>
    </div>
    <div class="p-col-12">
            <p-card class="text-center" header="Testbuttons">
                <div class="p-grid">
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Vertrag-Suche" (click)="clickTestVertragSuche()"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Vertrag-Detail" (click)="clickTestVertragDetail()"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                    <div class="p-col-4 p-md-3 p-lg-1">
                        <button pButton type="button" label="Test Person"></button>
                    </div>
                </div>
            </p-card>
     </div>
    <div class="p-col-12">
        <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <p-card header="News">
                    Content
                </p-card>
            </div>
            <div class="p-col-12 p-md-6">
                <p-card header="TODOs">
                    Content
                </p-card>
            </div>
        </div>
    </div>
</div>
